.header {
    background-image: url("../../assets/2.jpg");
    height: 70vh;
    background-size: cover;
}

.sub-header {
    margin-left: 8vw;
    margin-top: 25vh;
}

h1 {
    margin: 10px 0;
}

.author {
    font-size: 40px;
    margin: 10px 0;
}

.cyte {
    font-size: 26px;
    line-height: 34px;
    margin: 60px 0;
}