<footer class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 flex-col order-3">
      <h4>Przydatne linki</h4>
      <ul>
        <li>EMDR</li>
        <li>BDP</li>
        <li>Psychologia</li>
      </ul>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 flex-col order-1">
      <h4>Kontakt</h4>
      <ul>
        <li><i class="flaticon-contact"><span>gabinet@polski-psycholog.eu</span></i></li>
        <li><i class="flaticon-phone-receiver"><span>+49 028226967666</span></i></li>
        <li><i class="flaticon-social"><span>polski.psycholog</span></i></li>
      </ul>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 flex-col order-2">
      <h4>Adres</h4>
      <ul>
        <li><i class="flaticon-placeholder"><span>Rheinpromenade 40<br>46446 Emmerich am Rhein</span></i></li>
      </ul>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 flex-col order-4">
      <h4>Rights</h4>
      <ul>
        <li>Copyright &copy; 2017</li>
        <li>All rights reserved.</li>
      </ul>
    </div>
  </div>
</footer>