<footer class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 order-3">
      <h4 class="center-text">Przydatne linki</h4>
      <div class="icon_text_wrapper">
        <ul>
          <li>EMDR</li>
          <li>BDP</li>
          <li>Psychologia</li>
          <li class="policy"><a routerLink="/policy">Polityka Prywatności</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 order-1">
      <h4 class="center-text">Kontakt</h4>
      <div class="icon_text_wrapper">
        <div class="icon_container">
          <i class="flaticon-contact"></i>
          <i class="flaticon-phone-receiver"></i>
          <i class="flaticon-social"></i>
        </div>
        <ul class="text_container">
          <li>gabinet@polski-psycholog.eu</li>
          <li>+49 015750820281</li>
          <li>polski.psycholog</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 order-2">
      <h4 class="center-text">Adres</h4>
      <div class="icon_text_wrapper">
        <ul>
          <li>Aldegundisheim Hottomannsdeich 2<br>46446 Emmerich am Rhein</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6 col-12 order-4">
      <h4 class="center-text">Rights</h4>
      <div class="icon_text_wrapper">
        <ul>
          <li>Copyright &copy; 2017</li>
          <li>All rights reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>