<div class="container-fluid footer">
  <div class="row">
    <div class="col-10 col-lg-12 mx-auto">
      <div class="row">
        <div class="col-lg-3 col-6 order-3 border">
          <h4>Usefull Links</h4>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-lg-3 col-6 order-1 border">
          <h4>Kontakt</h4>
          <ul>
            <li>polski.psycholog</li>
            <li>+49 028226967666</li>
            <li>gabinet@polski-psycholog.eu</li>
          </ul>
        </div>
        <div class="col-lg-3 col-6 order-2 border">
          <h4>Adres</h4>
          <ul>
            <li>Rheinpromenade 40</li>
            <li>46446 Emmerich am Rhein</li>
          </ul>
        </div>
        <div class="col-lg-3 col-6 order-4 border">
          <h4>Rights</h4>
          <ul>
            <li>Copyright &copy; 2017</li>
            <li>All rights reserved.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>