footer {
    margin-top: 5vh;
    padding-top: .5vh;
    padding-bottom: 1vh;
    background:linear-gradient(rgba(0, 90, 0, 1), rgba(0, 45, 0, 1));
    color: #fff;
    font-weight: 300;
}

.icon_text_wrapper {
    display: inline-flex;
    transition-property: scale();
    transition-duration: 0.5s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* TODO: Fix hovering single elements
.icon_text_wrapper li:hover,
.icon_text_wrapper i:hover {
    transform: scale(1.2);
    transition-property: scale();
    transition-duration: 0.5s;
    cursor: pointer;
}
*/

.text_container {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1rem;
}

.text_container li,
.icon_container i {
    margin-bottom: .5rem;
}

.icon_container {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2px;
}

i:before {
    font-size: 1.6rem;
    margin: 0;
}

li {
    font-size: 1.6rem;
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .order-1,.order-2,.order-3,.order-4 {
        order: 0;
    }   
}
