.author_photo {
    max-width: 95%;
    max-height: 95%;
}

.certificates {
    margin-top: 5%;
    margin-bottom: 5%;
}

.certificates img {
    max-height: 29vh;
    cursor: pointer;
}
