.certificates {
    margin-top: 4%;
    margin-bottom: 4%;
}

.certificates img {
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-12.photo-container {
    display:none;
}

.author_photo {
    max-width: 200px;
    max-height: 266px;
}

@media (max-width: 992px) {
    .author_photo {
        max-width: 150px;
    }
}

@media (max-width: 767px) {
    .author_photo {
        max-width: 120px;
    }

    .photo-container {
        margin-bottom: 2vh;
    }

    .col-xl-2.photo-container {
        display: none;
    }
    
    .col-12.photo-container {
        display: flex;
    }
}
