<div class="container-fluid">
  <div class="row center-columns">
    <h2>O mnie</h2>
  </div>

  <div class="row">
    <div class="col-8 ml-auto">
        <div class="row">
          <div class="col-9 ml-auto">
              <p class="sub-heading center-text">Pasjonatka zawodu – żyjąca w myśl:<br>„Rób, co kochasz – kochaj to, co robisz”!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 m-auto">
            <p class="main-paragraph">Absolwentka psychologii klinicznej Uniwersytetu Opolskiego. Od ukończenia studiów ciągle podnosząca swoją wiedze i kwalifikacje.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-12 m-auto">
              <p class="main-paragraph">Terapeutka Racjonalnej Terapii Zachowania - terapii umożliwiającej skuteczną interwencję terapeutyczną poprzez zmianę i usprawnienie przekonań, jakie wykorzystuje dana osoba.</p>
            </div>
        </div>
    </div>

    <div class="col-2 mr-auto center-columns">
        <img src="../../assets/kasia.jpg" alt="Katarzyna Tolstych" class="author_photo">
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <p class="main-paragraph">
          Terapeutka I i II stopnia terapii Eye Movement Desensitization and Reprocessing (EMDR). Terapia (odwrażliwiająca) za pomocą ruchu gałek ocznych; ustrukturalizowana; łączącą w sobie elementy wielu podejść psychoterapeutycznych - jednak tym, co ją wyróżnia i odróżnia od innych podejść terapeutycznych - jest jej aspekt neurofizjologiczny. Twórcą terapii EMDR jest Francine Shapiro, która odkryła, że szybkie i powtarzające się ruchy oczami wpływają na obniżenie się poziomu lęku doświadczanego przez osoby, które wcześniej przeżyły tragiczne i traumatyczne wydarzenia tj. gwałt, przemoc domowa, wypadek komunikacyjny, śmierć bliskiej osoby, molestowanie seksualne bolesne rozstanie, rozwód, stany lękowe i depresyjne.          
      </p>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
            W swojej karierze zawodowej, jako psycholog i terapeuta pracowała m.in.:
        </p>
    </div>
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-6 mx-auto">
                <p class="main-paragraph">
                    - w strukturach Służby Więziennej/ Okręgowego Inspektoratu Służby Więziennej w Opolu oceniając stan psychiczny funkcjonariusza SW - orzekając o jego przydatności do dalszej służby; udzielając wsparcia i pomocy psychologicznej po zdarzeniach trudnych/traumatycznych; propagując profilaktykę prozdrowotną,
                </p>
            </div>
            <div class="col-6 mx-auto">
                <p class="main-paragraph">
                    - w Punkcie Konsultacji psychologicznej „Xsaverianum” w charakterze czynnego poradnictwa m.in. z zakresu predyspozycji zawodowych; interwencji w sytuacjach kryzysowych/trudnych; profilaktyki i promocji zdrowia psychicznego, a także indywidualnych porad psychologicznych oraz warsztatów i wykładów tematycznych.   
                </p>
            </div>
        </div>
    </div>
    <div class="col-10 mx-auto">
        <div class="row">
            <div class="col-6 mx-auto">
                <p class="main-paragraph">
                    - Współpraca z działami HR opolskich Agencji Pracy.
                </p>
            </div>
            <div class="col-6 mx-auto">
                <p class="main-paragraph">
                    - Współpraca w charakterze trenera i szkoleniowca z ogólnopolskimi firmami szkoleniowymi m.in. „Galicyjskim Centrum Edukacji” z Krakowa oraz „Center Consulting” z Olsztyna.
                </p>
            </div>
        </div>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
            Prywatnie - miłośniczka zwierząt, tańców latynoamerykańskich, sportów ekstremalnych i podróży.
        </p> 
    </div>
  <div class="row">
      <div class="col-11 certificates mx-auto">
          <img src="../../assets/doradca-personalny.jpg" alt="certyfikat doradca personalny">
          <img src="../../assets/promocja-zdrowia.jpg" alt="promocja-zdrowia">
          <img src="../../assets/dyplom-rtz.jpg" alt="dyplom rtz">
          <img src="../../assets/psychospoleczne-zagrozenia.jpg" alt="certyfikat psychospoleczne zagrozenia">
      </div>
  </div>
</div>