.author_photo {
    max-width: 95%;
    max-height: 95%;
}

.certificates {
    margin-top: 4%;
    margin-bottom: 4%;
}

.certificates img {
    max-width: 350px;
    max-height: 350px;
    cursor: pointer;
    margin: 20px 0;
}
