.map__container {
  height: 400px;
  width: 100%;
  border: 1.5px solid #bbb;
}

.contact_details li {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 50px 0;
}

.contact_details li span {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.contact_details li i {
  display: flex;
  justify-content: center;
}

.contact_details li i::before {
  margin: 0;
  padding: 0;
  font-size: 140%;
}

.contact_details {
  white-space: nowrap;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  
}