.map__container {
  height: 40rem;
  width: 100%;
  border: 1.5px solid #bbb;
}

.contact_details {
  margin-top: 4rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_details li {
  font-size: 2rem;
}

.contact_details li span {
  margin-top: 1rem;
}

.contact_details li > * {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.contact_details li i::before {
  font-size: 140%;
}
