<div [@componentState]="state" class="container-fluid" id='contact'>
  <app-nav-arrow></app-nav-arrow>
  <div class="center-text">
      <h2>Kontakt</h2>
      <h3>Umów się już dziś! </h3>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="mr-auto col-lg-7 col-md-7 col-sm-12">
          <div class="map__container">
            <app-google-map></app-google-map>
          </div>
        </div>
        <div class="ml-auto col-lg-5 col-md-5 col-sm-12 relative">
          <ul class="contact_details">
            <li><i class="flaticon-contact"></i><span>gabinet@polski-psycholog.eu</span></li>
            <li><i class="flaticon-social"></i><span>polski.psycholog</span></li>
            <li><i class="flaticon-phone-receiver"></i><span>+49 028226967666</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>