h2::after {border-color: rgba(11, 124, 11, 0.4);}
/* FORM ELEMENTS */
/* Containers */
.form-group {display: flex;flex-direction: column;justify-content: space-between;padding: 10px 0;}
fieldset { padding: 0; border: 0; }
form, input, select {border: 3px solid rgba(11, 124, 11, 0.4);border-radius: 1.5vw;}
form { padding: 25px 0 15px 0;}
/* Elements */
label, span  { padding: 5px;}
input, select { padding: 15px;}
button { width: 140px; height: 50px;margin: 10px 0;border-radius: 1.5vw; border: 1px solid #FAFAFA; background-color: rgba(11, 124, 11, 0.6); outline: none;}
button:focus { border-color: rgba(11, 100, 11, 1); border-width: 1px;}
/* Error Styling */
input:focus, select:focus {border-color: rgba(11, 100, 11, 1);}
span { font-size: 80%; text-align: center; color: #FF0000; font-weight: 600;}
button[type="submit"]:disabled { color: #B4B4B4; background-color: rgba(11, 150, 11, 0.15);}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched { border-color: rgba(255, 0, 0, 0.45); }
input, select, button, span { transition: 0.6s; }

/* Media */
@media (max-width: 1200px) {
    form, input, select, label, span { font-size: 100%; }
    option { font-size: 110%; }
    span { font-size: 78%; }
    button { font-size: 90%; width: 120px; }
}
    
@media (max-width: 992px) { 
    form, input, select, label, span { font-size: 95%; }
    span { font-size: 76%; }
    button { font-size: 85%; width: 110px; }    
}

@media (max-width: 767px) {
    form, input, select, label, span { font-size: 90%; }
    span { font-size: 72%; }
    button { font-size: 80%; height: 45px; }  
}

@media (max-width: 576px) { 
    form, input, select, label, span { font-size: 85%; }
    span { font-size: 70%; }
    button { height: 40px; width: 100px; }        
}