table {
    border: 3px solid #F1C881;
    border-radius: 2rem;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    font-size: 2rem;
    margin: 1rem 0;
}

th, td {
    text-align: center;
    border-left:solid #F1C881 3px;
    border-top:solid #F1C881 3px;
    padding: 1rem 0;
}

th {
    border-top: none;
    background-color: rgba(241, 200, 129, 0.33);
}

td:first-child, th:first-child {
    border-left: none;
}

th:first-child {
    border-radius: 1.6rem 0 0 0;
}

th:last-child {
    border-radius: 0 1.6rem 0 0;    
}

tfoot th {
    border-top: 3px solid #F1C881;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2rem 2rem 0 0;
}

td:first-child, td:last-child {
    text-align: left;
    padding-left: 1vw;
}

@media (max-width: 1200px) {
    table { font-size: 19px;}
    th, td { padding: 10px 0;}
}

@media (max-width: 1100px) { 
    table { font-size: 18px; }
    th, td { padding: 9px 0;}
}

@media (max-width: 1000px) {
    table { font-size: 17px; }
    th, td { padding: 8px 0;}
}

@media (max-width: 900px) { 
    table { font-size: 16px; min-width: 460px;}
    th, td { padding: 7px 0;}
}

@media (max-width: 600px) { 
    table { font-size: 15px; min-width: 400px;}
    th, td { padding: 5px 0;}
}

@media (max-width: 500px) { 
    table { font-size: 16px; min-width: 350px;}
    th, td { padding: 3px 0;}
}

@media (max-width: 430px) { 
    table { min-width: 300px;}
}