<div class="container-fluid">
  <div class="row center-columns">
    <h2>Oferta</h2>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
          <span>Punkt konsultacji psychologicznej</span> - 
          przeznaczony dla wszystkich tych, którzy borykają się z problemami życia wewnętrznego.
          Podczas konsultacji dochodzi do wstępnej diagnozy
          oraz ustala się formy dalszej pomocy, w niektórych przypadkach 
          konsultacja psychologiczna kończy się informacją o przekierowaniu 
          osoby do innego specjalisty z zakresu zdrowia psychicznego.
        </p>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
          <span>Psychoterapia indywidualna EMDR</span>
          – w przypadku pojedynczych i złożonych traum powstałych w wyniku 
          reakcji na ostry stres: PTSD, śmierci bliskiej osoby, gwałtu, 
          molestowania seksualnego, napaści, przemocy domowej, fobii, lęku 
          panicznego, zaburzeń obsesyjno – kompulsywnych, depresji.
        </p>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
          <span>Pomoc, wsparcie i interwencja psychologiczna</span> 
          - polega na kontakcie terapeutycznym, skoncentrowanym na problemie 
          wywołującym kryzys w celu zredukowania symptomów i przywrócenie równowagi 
          psychicznej. Interwencja kryzysowa polega na zapewnieniu wsparcia 
          emocjonalnego, poczucia bezpieczeństwa oraz zredukowaniu lęku.
        </p>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
          <span>Diagnoza psychologiczna</span> 
          (badania testami psychologicznym, diagnoza osobowości, 
          zasobów poznawczych i intelektualnych).
        </p>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
          <span>Treningi umiejętności psychospołecznych</span> 
          - treningi grupowe mające na celu udoskonalenie starych oraz 
          poznanie nowych metod walki ze stresem, a także nabycie umiejętności
          i wiedzy z zakresu komunikacji interpersonalnej, asertywności, 
          rozwijania samoświadomości oraz twórczego rozwiązywania problemów.
        </p>
    </div>
    <div class="col-10 mx-auto">
        <p class="main-paragraph">
          <span>HR i doradztwo personalne</span> 
          – wsparcie firm pod względem Zarządzania Zasobami Ludzkimi
          – selekcja rekrutacja pracowników, oceny okresowe, szkolenia, 
          strategie rozwoju firmy.
        </p>
    </div>
</div>