@media (max-width: 1200px) {

}

@media (max-width: 992px) { 
    html {
        font-size: 56%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 52%;
    }
}
@media (max-width: 576px) { 
    html {
        font-size: 46%;
    }
    .tables {
        width: 50rem;
    }
}

@media (max-width: 420px) { 
    html {
        font-size: 44%;
    }
    .tables {
        width: 40rem;
    }
}
