<div class="container-fluid">

    <div class="row center-columns">
      <h2>Cennik</h2>
    </div>


  <div class="row">
      <div class="col-12 mx-auto center-columns">
        <p class="main-paragraph">W poniższej tabeli znajdą Państwo informacje dotyczące cen
          poszczególnych usług psychologicznych.<span><br> 
          Pierwsza konsultacja psychologiczna - bezpłatna!</span>
        </p>
      </div>
  </div>
  <div class="row center-columns">
    <app-prizes-table></app-prizes-table>
  </div>
  
</div>