table {
    border: 3px solid #F1C881;
    border-radius: 20px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    font-size: 20px;
    width: 50vw;
    margin: 3vh 0;
}

th, td {
    text-align: center;
    border-left:solid #F1C881 3px;
    border-top:solid #F1C881 3px;
    padding: 10px 0;
}

th {
    border-top: none;
    background-color: rgba(241, 200, 129, 0.33);
}

td:first-child, th:first-child {
    border-left: none;
}

th:first-child {
    border-radius: 16px 0 0 0;
}

th:last-child {
    border-radius: 0 16px 0 0;    
}

tfoot th {
    border-top: 3px solid #F1C881;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px 20px 0 0;
}

h2::after {
    border-color: #F1C881;
}