<div [@componentState]="state" class="container-fluid" id='prizes'>
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="row">
        <h2 class="mx-auto">Cennik</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <p class="main-paragraph">W poniższej tabeli znajdą Państwo informacje dotyczące cen poszczególnych usług psychologicznych.<span><br> 
          Pierwsza konsultacja psychologiczna - bezpłatna!</span>
      </p>
    </div>
  </div>
  <div class="row center-columns">
    <app-prizes-table></app-prizes-table>
  </div>
</div>