<div [@componentState]="state" class="container-fluid" id='prizes'>
  <app-nav-arrow></app-nav-arrow>
  <div class="center-text">
      <h2>Cennik</h2> 
  </div>
  <div class="row center-text">
      <h3 class="col-12 mx-auto">
          W poniższej tabeli znajdą Państwo informacje dotyczące cen poszczególnych usług psychologicznych.<br>
          <span class="bold">Pierwsza konsultacja psychologiczna - bezpłatna!</span>
        </h3>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
        <app-prizes-table class="row"></app-prizes-table>
    </div>
  </div>
</div>