/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: 'Lato', Helvetica, Arial;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

app-header, app-navigation {
    color: #fff;
}

p {
    font-family: Helvetica, Arial;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


p {
    font-size: 26px;
    color: #000;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    margin: 0;
}

h1 {
    padding: 40vh 0 1.5vh 0;    
    font-size: 66px;
    display: flex;
    color: inherit;
}

h2 {
    position: relative;
    font-size: 64px;
    /* margin-top: 10vh; */
    margin-bottom: 70px;
    font-weight: 400;
}

h2::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80px;
    border-top: 4px solid #000;
    z-index: -1;
    width: 80%;
    margin-left: 10%;
}

h4 {
    font-size: 30px;
}

.sub-heading {
    font-size: 34px;
    margin: 0 0 5vh 0;
}

/*Useless Classes - Delete after production*/
.border {
    border: 1px solid #000;
}


/*Optional Classes*/

.tables {
    width: 35vw;
}

.main-paragraph span {
    text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 0px black;
}
/*Index layers*/
.index-99 { z-index: 99; }
.index-98 { z-index: 98; }
.index-97 { z-index: 97; }
/*Positions*/
.relative { position:relative; }
.absolute { position:absolute;}
/*Size*/


/*Some additional grid options*/
.center-columns {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-rows {
    margin-left: auto;
}
.center-text {
    text-align: center;
}

/*From Bootstrap-4-Beta*/
.m-auto {
    margin: auto !important;
}
  
.mt-auto {
    margin-top: auto !important;
}
  
.mr-auto {
    margin-right: auto !important;
}
  
.mb-auto {
    margin-bottom: auto !important;
}
  
.ml-auto {
    margin-left: auto !important;
}
  
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
  
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
