/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import 'css/setup.css';
@import 'css/typography.css';
@import 'css/grid.css';
@import 'css/queries.css';

/*Index layers*/
.index-99 { z-index: 99; }
.index-98 { z-index: 98; }
.index-97 { z-index: 97; }
/*Positions*/
.relative { position:relative; }
.absolute { position:absolute;}

/*Special Classes*/
.tables {
    width: 60rem;
    transition-property: 'width';
    transition-duration: 0.5s;
}

