<div class="container">
  <div class="row center-columns">
    <h2 class="center-columns">Home<span>Witaj!</span></h2>
  </div>
  <div class="row">
    <p>Jeżeli gdzieś po drodze zgubiłeś siebie…<br>
      Jeżeli to, co robisz, nie sprawia Ci przyjemności…<br>
      Jeżeli doświadczyłeś/ bądź doświadczasz krzywdy, 
      poczucia bezsilności, braku nadziei i radości 
    - to miejsce stworzyłam z myślą o Tobie!</p>
    <p>Najważniejsze - dokąd idziesz, 
      a nie gdzie obecnie się znajdujesz. 
      Największą szansą na zamianę, jest uświadomienie sobie, 
      jak wiele zależy właśnie od Ciebie!</p>
    <p>W tym momencie robisz właśnie swój pierwszy krok 
      – a ja jestem tu po to, by towarzyszyć Ci 
      w drodze do poprawy, jakości Twojego życia! </p>
    <p>Gabinet psychologiczny oferuje:<br>
      - pomoc i interwencję psychologiczną,<br>
      - psychoterapię (kompatybilną EMDR oraz RTZ),<br>
      - diagnozę zasobów poznawczych i intelektualnych,<br>
      - treningi umiejętności miękkich, 
      - HR. i doradztwo personalne.</p>
  </div>
  
</div>