<div class="container-fluid">
  <div class="row center-columns">
    <h2>Home</h2>
    <p class="sub-heading">Witaj!</p>
  </div>
  
  <div class="row paragraphs">
    <div class="col-11 mx-auto">
        <p class="main-paragraph"><span>Jeżeli gdzieś po drodze zgubiłeś siebie…</span><br>
          Jeżeli to, co robisz, nie sprawia Ci przyjemności…<br>
          Jeżeli doświadczyłeś/ bądź doświadczasz krzywdy, 
          poczucia bezsilności, braku nadziei i radości 
        - to miejsce stworzyłam z myślą o Tobie!</p>
    </div>
    <div class="col-11 mx-auto">
        <p class="main-paragraph"><span>Najważniejsze</span> - dokąd idziesz, 
          a nie gdzie obecnie się znajdujesz. 
          Największą szansą na zamianę, jest uświadomienie sobie, 
          jak wiele zależy właśnie od Ciebie!</p>
    </div>
    <div class="col-11 mx-auto">
        <p class="main-paragraph">W tym momencie robisz właśnie swój pierwszy krok 
            – a ja jestem tu po to, by towarzyszyć Ci 
            w drodze do poprawy, jakości Twojego życia! </p>
    </div>
    <div class="col-11 mx-auto">
        <p class="main-paragraph">Gabinet psychologiczny oferuje:<br>
          - pomoc i interwencję psychologiczną,<br>
          - psychoterapię (kompatybilną EMDR oraz RTZ),<br>
          - diagnozę zasobów poznawczych i intelektualnych,<br>
          - treningi umiejętności miękkich, 
          - HR. i doradztwo personalne.</p>
    </div>
    
  </div>
  
</div>