.arrow {
    content: "";
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    display: flex;
}

.arrow-right {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    margin-right: 3vw;
    left: 100%;
    transform: rotate(135deg);
}

.arrow-left {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    margin-left: 3vw;
    left: 0;
    transform: rotate(135deg);
}

.arrow-container {
    margin-top: 10vh;
    z-index: 4;
    display: flex;
    justify-content: space-between;
}

.flexbox-wrapper {
    position: sticky;
    top: 50%;
}